<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Viewlume" Manufacturer="vaniley" Version="$(var.ProductVersion)"
           UpgradeCode="9C3B5DC4-596F-47E8-AF33-58A1CF514AE7" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer Viewlume version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Viewlume">
        <Component Id="ApplicationFiles" Guid="A4EB2B92-9209-45F8-930B-3F1C53E85C9B">
          <File Id="ViewlumeExe" Source="$(var.BinaryPath)" KeyPath="yes" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Applications\viewlume.exe\shell\open\command"
                         Value="&quot;[#ViewlumeExe]&quot; &quot;%1&quot;" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\RegisteredApplications" Name="Viewlume"
                         Value="Software\Viewlume\Capabilities" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Viewlume\Capabilities" Name="ApplicationName"
                         Value="Viewlume" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Viewlume\Capabilities\FileAssociations" Name=".jpg"
                         Value="Viewlume.Image" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Viewlume\Capabilities\FileAssociations" Name=".png"
                         Value="Viewlume.Image" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Viewlume\Capabilities\FileAssociations" Name=".webp"
                         Value="Viewlume.Image" Type="string" />
          <RegistryValue Root="HKLM" Key="Software\Classes\Viewlume.Image\shell\open\command"
                         Value="&quot;[#ViewlumeExe]&quot; &quot;%1&quot;" Type="string" />
        </Component>
      </Directory>
    </StandardDirectory>
    <Feature Id="MainFeature">
      <ComponentRef Id="ApplicationFiles" />
    </Feature>
  </Package>
</Wix>
